<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <beans>
        <bean id="book" class="com.james.springdemo.entity.Book">
            <property name="category" ref="category"/>
        </bean>

        <bean id="category" class="com.james.springdemo.entity.Category">
            <property name="id" value="1234"/>
            <property name="name" value="computer"/>
        </bean>

        <bean id="knight" class="com.james.springdemo.entity.Knight">
            <property name="quest" ref="quest"/>
        </bean>
        <bean id="quest" class="com.james.springdemo.quest.SavePrincessQuest"></bean>
    </beans>

</beans>